source [find interface/jlink.cfg]
transport select swd

adapter speed 1000

source [find ra4m2.cfg]

proc stmd { pos } {
	if { $pos == 0 } {
		reset;
		halt;
		flash write_image erase rtthread.bin 0x000000;
		reset;
		echo "stm down firm 2 internal flash success"
	} else {
#		reset;
#		halt;
#		flash erase_sector 1 0x0 0x10;
#		flash write_bank 1 rtthread.bin 0x0;
		flash write_image erase rtthread.bin 0x000000;
		echo "stm down firm 2 spi flash"
#		reset
	}
}

